protected/runtime/*
*.bat
protected/components/UserIdentity.php
protected/vendor/
themes/abound/uploads/*
composer.lock
/assets
.phpintel
.idea

protected/config/development.php
protected/config/main.php
protected/config/mail.php
protected/config/test.php
protected/config/console.php
protected/config/console_dev.php


protected/data